{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>bm2</title>
    <link rel="stylesheet" href="{% static 'css/mobi.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    {% if messages %}
    <section>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>
