[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyyaml = "*"
dj-database-url = "*"
django-taggit = "*"
thttp = "*"
sentry-sdk = "*"
certifi = ">=2023.07.22"
urllib3 = ">=2.0.7"

[dev-packages]
black = "*"
isort = "*"
coverage = "*"
django-debug-toolbar = "*"
ipdb = "*"

[requires]
python_version = "3.11"
