[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thttp = "*"
sentry-sdk = "*"
django = "<5.3"
certifi = "==2025.11.12"
urllib3 = "==2.5.0"
django-taggit = "==6.1.0"
dj-database-url = "==3.0.1"
pyyaml = "==6.0.3"

[dev-packages]
isort = "*"
coverage = "*"
django-debug-toolbar = "*"
ipdb = "*"
black = "*"
bandit = "*"

[requires]
python_version = "3.11"
